<mat-form-field>
	<mat-label>Largeur du rideau brute (cm)</mat-label>
	<input matInput #largeurBrute type="number" value="{{DEFAULT_LARGEUR}}" step="0.5"
    (change)="setLargeurBrute(largeurBrute.value)">
</mat-form-field>

<mat-form-field>
  <mat-label>Croisant (cm)</mat-label>
  <mat-select #retour value="{{DEFAULT_RETOUR}}" (selectionChange)="setRetour(retour.value)">
    <mat-option value="2">2</mat-option>
    <mat-option value="2.5">2.5</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="3.5">3.5</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="4.5">4.5</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="5.5">5.5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="6.5">6.5</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="7.5">7.5</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="8.5">8.5</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="9.5">9.5</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="10.5">10.5</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="11.5">11.5</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="12.5">12.5</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="13.5">13.5</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="14.5">14.5</mat-option>
    <mat-option value="15">15</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Devanture (cm)</mat-label>
  <mat-select #devanture value="{{DEFAULT_DEVANTURE}}" (selectionChange)="setDevanture(devanture.value)">
    <mat-option value="2">2</mat-option>
    <mat-option value="2.5">2.5</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="3.5">3.5</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="4.5">4.5</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="5.5">5.5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="6.5">6.5</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="7.5">7.5</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="8.5">8.5</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="9.5">9.5</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="10.5">10.5</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="11.5">11.5</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="12.5">12.5</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="13.5">13.5</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="14.5">14.5</mat-option>
    <mat-option value="15">15</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Nombre de plis</mat-label>
  <mat-select #plisNumber value="{{plisNumberView}}" (selectionChange)="setPlis(plisNumber.value)">
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="15">15</mat-option>
    <mat-option value="16">16</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Taille d'un plis (cm)</mat-label>
  <mat-select #taillePlis value="{{DEFAULT_TAILLE_PLIS}}" (selectionChange)="setTaillePlis(taillePlis.value)">
    <mat-option value="5">5</mat-option>
    <mat-option value="5.5">5.5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="6.5">6.5</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="7.5">7.5</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="8.5">8.5</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="9.5">9.5</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="10.5">10.5</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="11.5">11.5</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="12.5">12.5</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="13.5">13.5</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="14.5">14.5</mat-option>
    <mat-option value="15">15</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Nombre d'espace</mat-label>
  <mat-select #spaceNumber value="{{spaceNumberView}}" (selectionChange)="setSpace(spaceNumber.value)">
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="15">15</mat-option>
  </mat-select>
</mat-form-field>